<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP Article Analysis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <header class="header">
            <h1 class="header__title">News article analysis</h1>
            <div class="header__logo">
                <img src="https://picsum.photos/50" alt="Logo">
            </div>
            <nav class="header__navigation">
                navigation
            </nav>
        </header>

        <main>
            <section class="container">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" oninput="Client.handleTextValidation(event.target.value)" placeholder="Name">
                    <p class="alert" id="validation"></p>
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer class="footer">
            <p>This is a footer</p>
        </footer>

    </body>
</html>
