<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP Article Analysis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
    <header class="header">
        <h1 class="header__title">🔍 NLP Article Analyzer</h1>
    </header>

    <main>
        <section class="container">
            <form onsubmit="return Client.handleSubmit(event)">
                <div class="form-group">
                    <label for="name">Article</label>
                    <input id="name" type="text" name="input" value="" oninput="Client.handleTextValidation(event.target.value)" placeholder="Name">
                    <p class="alert" id="validation"></p>
                    <input type="submit" name="" value="Analyze Article" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </div>
            </form>
        </section>

        <section class="results-section">
            <div class="results-container">
                <div class="results-title">Analysis Results</div>
                <div id="results"></div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>©2025 Adrian Gaborek NLP Article Analyzer • Built with HuggingFace</p>
    </footer>
    </body>
</html>
